<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>green_01.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_02.png</key>
        <dict>
            <key>frame</key>
            <string>{{128,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_03.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_04.png</key>
        <dict>
            <key>frame</key>
            <string>{{384,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_05.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,128},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_06.png</key>
        <dict>
            <key>frame</key>
            <string>{{128,128},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_07.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,128},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_08.png</key>
        <dict>
            <key>frame</key>
            <string>{{384,128},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_09.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,256},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{128,256},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,256},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{384,256},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,384},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{128,384},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,384},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>green_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{384,384},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>green_atlas.png</string>
        <key>size</key>
        <string>{512,512}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:xxx$</string>
        <key>textureFileName</key>
        <string>green_atlas.png</string>
    </dict>
</dict>
</plist>